<h1>Answer page</h1>

<div class="qnacard">
<h6><%= @question %></h6>
<p>- You</p>
</div>

<div class="qnacard bg-coach">
<h6><%= @answer %></h6>
<p>- Coach</p>
</div>



<%= link_to "Ask another question", ask_path %>
